@import "~bootstrap/scss/bootstrap";

body {
    background-color: linear-gradient(to top, rgb(255, 255, 255), #ddd);
}

img {
    height: 60vh;
    object-fit: cover;
    transition: transform 1s;
}
.card:hover img {
    transform: scale(1.2);
}
.card-header {
    height: 90px;
}
.logo {
    height: 90px;
    width: 90px;
}
